<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form action="#"
      th:action="@{saveUpdateCompany}"
      th:object="${company}"
      method="post">
    <div class="container">
        <hr>
        <input type="hidden" name="id" th:field="*{id}">
        <label for="email"><b>Company Name</b></label>
        <input type="text" placeholder="Enter company name" th:field="*{companyName}" name="email" id="email" required>
        <label for="psw"><b>Located country</b></label>
        <input type="text" placeholder="Enter located country" th:field="*{locatedCountry}" name="psw" id="psw" required>
        <hr>
        <button type="submit" class="registerbtn">Update company</button>
    </div>
</form>

</body>
</html>
